# PostgreSQL (для всех сервисов)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Для каждого сервиса (пример)
USER_SERVICE_DB_NAME=user_db
CARGO_SERVICE_DB_NAME=cargo_db
ROUTE_SERVICE_DB_NAME=route_db
ORDER_SERVICE_DB_NAME=order_db
NOTIFICATION_SERVICE_DB_NAME=notification_db

# JWT секрет (одинаковый для User Service и Gateway)
JWT_SECRET=super-secret-key-change-in-production
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=30

# URL других сервисов (для клиентов)
CARGO_SERVICE_URL=http://cargo_service:8001
ROUTE_SERVICE_URL=http://route_service:8002
ORDER_SERVICE_URL=http://order_service:8003
NOTIFICATION_SERVICE_URL=http://notify_service:8004
USER_SERVICE_URL=http://user_service:8000